.logobackground {
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    padding: 20px 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: radial-gradient(circle at 57% 36%, rgba(114, 114, 114, 0.04) 0%, rgba(114, 114, 114, 0.04) 10%, transparent 10%, transparent 100%), radial-gradient(circle at 22% 61%, rgba(114, 114, 114, 0.04) 0%, rgba(114, 114, 114, 0.04) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 68% 97%, rgba(114, 114, 114, 0.04) 0%, rgba(114, 114, 114, 0.04) 41%, transparent 41%, transparent 100%), radial-gradient(circle at 57% 89%, rgba(114, 114, 114, 0.04) 0%, rgba(114, 114, 114, 0.04) 30%, transparent 30%, transparent 100%), radial-gradient(circle at 39% 80%, rgba(114, 114, 114, 0.04) 0%, rgba(114, 114, 114, 0.04) 22%, transparent 22%, transparent 100%), radial-gradient(circle at 88% 71%, rgba(114, 114, 114, 0.04) 0%, rgba(114, 114, 114, 0.04) 30%, transparent 30%, transparent 100%), linear-gradient(0deg, rgb(246, 246, 246), rgb(246, 246, 246));
}

.video-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    max-width: 100%;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container-service {
    width: 100%;
    padding: 40px 0;
    background: rgba(68, 154, 187, 1);
    z-index: 20;
    position: relative;
    text-align: center;
    color: #f6f6f6;

}

.text-overlay {
    position: relative;
    z-index: 10;
    margin-top: -300px;
    text-align: center;
    color: f6f6f6;
}

.diarista {
    flex-wrap: wrap;
    background: rgba(68, 154, 187, 1);
    color: #f6f6f6;
    padding: 20px;
    margin-top: 20px;
}


footer {
    padding-top: 20px;
}

li {
    list-style-type: none;
    display: inline;

}

.lista-rodape {
    flex-wrap: wrap;
    margin-right: 30px;
}

.lista-rodape a {
    display: inline;
    padding: 0;
}



@media (min-width: 768px) and (max-width: 991.98px) {
    .container-service {
        margin-top: 160px;

    }

    .diarista {
        flex-direction: column;
    }
}

@media (min-width: 730px) and (max-width: 991.98px) {
    .diarista {
        flex-direction: column;
        margin-top: 30px;
    }
    table{
        flex-direction: row-reverse;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container-service {
        margin-top: 160px;
    }

    .logobackground {
        flex-direction: column;
    }

    .diarista {
        flex-direction: column;
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    .container-service {
        margin-top: 161px;
        max-height: 400px;
    }

    .diarista {
        flex-direction: column;
        margin-top: 50px;
    }

    .texto-video {
        flex-direction: column;
    }
}

.button-hov {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding-bottom: 10px;
    max-width: 100%;
}

.button-hov:hover {
    background-color: #dec60b;
    box-shadow: 0px 15px 20px rgba(68, 154, 187, 1);
    color: #fff;
    transform: translateY(-7px);
}

.button-hov:active {
    transform: translateY(-1px);
}

.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    margin-top: 30px;

}

.book1 {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    margin-top: 30px;
    }

.cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url(/assets/images/Limpeza_domestica.jpg);
    background-size: cover;
}

.cover1 {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url(/assets/images/Limpeza_empresarial.jpg);
    background-size: cover;
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);

}

.book1:hover .cover1 {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}

p {
    padding-left: 40px;
    padding-right: 20px;

}